/* 去除边距 */
* {
  padding: 0;
  margin: 0;
}
/* 让html占满全屏 */
html,
body,
#app {
  height: 100%;
}
.el-container {
  height: 100%;
}
/* 图标样式 */
.el-input__icon {
  width: 30px;
  line-height: 45px;
}
/* 修改二级菜单与以及菜单的间距 */
.el-menu-item-group__title {
  padding: 0px;
}
/* 面包屑样式 */
.el-breadcrumb {
  padding-bottom: 15px;
}
/* 数据展示头部样式 */
.data-header {
  padding-bottom: 24px;
}
.el-dialog__header,
.el-form {
  text-align: left;
}
.btn-box {
  text-align: right;
}

/* 去除上传动画 */
.el-upload-list__item {
  transition: none !important;
}
/* 设置表单的内容行间距 */
.el-form-item__content {
  line-height: normal;
}
/* 选项卡样式 */
.el-tabs {
  height: 100%;
}
